@import "utilities/variables";

.App {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;

  font-size: 18px;

  background-color: $complement;
  color: $base;
}



.stic {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: $complement;

  .top-bar {
    padding: 10px;

    #theme-changer-btn {
      margin: auto;
      width: 40px;
      height: 40px;
    }
  }
}


.action-button {
  background-color: $base;
  color: $complement;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.1rem;

  &.secondary {
    background-color: unset;
    border: solid 2px $base;
    color: $base;
  }
}

button.button {
  margin: 0px 10px;
  height: 3.5rem;
  min-width: 35vw;

  background-color: $base;
  color: $complement;

  border: none;

  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;

  &.secondary {
    border: 1px solid $base;
    background-color: unset;
    color: $base;
  }
}

button.small-round-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $shade_complement;
  border: 1px solid $complement;
  color: $base;

  font-size: 1rem;
}