@import "utilities/variables";

.cmp-entry-form {
    width: 100%;

    height: fit-content;

    position: absolute;
    bottom: 0px;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $complement;

    z-index: 10;

    // animation: entry .3s forwards;

    @keyframes entry {
        0% {

            transform: translateY(500px);

        }



        100% {

            transform: translateY(0px) scale(1, 1);

        }
    }

    &::before {
        content: "";
        z-index: 9;

        position: absolute;

        top: -150vh;
        width: 100vw;
        height: 150vh;
        background-color: #424242;
        opacity: .5;
    }

    .cmp-form {
        width: 100%;
        padding: 25px;

        // transform: translateY(500px);
        // animation: entry .3s .1s forwards;

        @keyframes entry {
            0% {

                transform: translateY(500px);

            }



            100% {

                transform: translateY(0px);

            }
        }

    }

    .button-group {
        display: flex;
        justify-content: space-around;
        padding: 6px;

        button {
            // width: 100%;



        }
    }

    .input-group {
        .label {
            font-size: .9rem;
            font-weight: 500;
            padding-bottom: 4px;
        }

        margin : 5px;

    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        background-color: $shade_complement;
        color: $base;
        border: none;

        height: 2.3rem;

    }


    @media screen and (min-width:800px) {

        max-width: 400px;

        button {
            min-width: max-content;
            width: 100%;
        }



        &::before {}
    }
}

.App {
    height: 100vh;
}