@import "utilities/variables";

.cmp-total-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 30px;

    #total-amount-text {
        font-size: 2rem;
        font-weight: 600;

    }

    #total-amount-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $positive;

        font-size: 1.5rem;
    }


    &.loss {
        #total-amount-text {
            color: red;
        }

        #total-amount-icon {
            color: red;
        }
    }
}